<div class="container mt-5 pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Products</h4>
            <h1 class="display-4 m-0">Meet Our <span class="text-primary">Products</span></h1>
        </div>
        <div class="row">
            {% for i in a %}
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="/static/{{ i.p_image }}" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>{{ i.p_name }}</h5>
                            <i>{{ i.p_price }}</i>
                            <i>{{ i.p_flavor }}</i>
{#                            <a href="" class="btn btn-primary">Order</a>#}
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 50px; height: 40px;" href="/order/order/{{ i.p_id }}"><i class="fab fa-buy">Order</i></a>
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>#}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="team card position-relative overflow-hidden border-0 mb-4">#}
{#                    <img class="card-img-top" src="img/team-2.jpg" alt="">#}
{#                    <div class="card-body text-center p-0">#}
{#                        <div class="team-text d-flex flex-column justify-content-center bg-light">#}
{#                            <h5>Hamper</h5>#}
{#                            <i>Shirt - Hamper</i>#}
{#                        </div>#}
{#                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="team card position-relative overflow-hidden border-0 mb-4">#}
{#                    <img class="card-img-top" src="img/team-3.jpg" alt="">#}
{#                    <div class="card-body text-center p-0">#}
{#                        <div class="team-text d-flex flex-column justify-content-center bg-light">#}
{#                            <h5>Hamper</h5>#}
{#                            <i>Chocolate - Hamper</i>#}
{#                        </div>#}
{#                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="team card position-relative overflow-hidden border-0 mb-4">#}
{#                    <img class="card-img-top" src="img/team-4.jpg" alt="">#}
{#                    <div class="card-body text-center p-0">#}
{#                        <div class="team-text d-flex flex-column justify-content-center bg-light">#}
{#                            <h5>Frame</h5>#}
{#                            <i>(DIfferent Size are Available)</i>#}
{#                        </div>#}
{#                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>#}
{#                            <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>